
.input_field{
    width : 100% ;
    box-sizing: border-box;
    background-color: #EEE2DC ;
    /* border-color : #123C69   ; */
    border : none;
    border : 1px solid #123C69 ;
    padding : 7px 15px ;
    border-radius: 3px ;
    outline : 0 ;
    margin : 5px 0 ;
}

.input_field:focus{
    border-color: #AC3B61;
}